:root {
  --light-tan: #fffdeb;
}

.page {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.directory-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  max-width: 95vw;
}

.half-content {
  display: grid;
  grid-template-rows: 1fr 8fr;
  gap: 10px
}

.student-list {
  background-color: var(--light-tan);
  border-radius: 10px;
  box-shadow: 2px 2px 12px 1px #d2d2d2;
  height: 500px;
  overflow: auto;
}

.image {
  width: 400px;
  height: 500px; /* matches student-list height */
  object-fit: cover; /* Crops the image to fill the widthxheight area */
  object-position: center; /* Optional: Centers the crop (default) */
  border-radius: 10px;
  padding: 0 5px 0 5px;
}