/* Navigation Bar------------------------------------------ */

nav {
  display: flex;
  flex-direction: column;
}

/* Blue Title Div */
.title-text {
  color: white;
}

.nav-titlediv {
  background-color: #3877A6;
  padding: 1rem 2rem;
}

/* Yellow Navlinks Div */
.nav-linksdiv {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #E8DBB3;
}

.nav-leftalign {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}



/* Main (Content Layout)------------------------------------------ */
main {
  padding: 2rem;

  /* background-color: gray; */
  /*for debugging/seeing border -> feel free to comment out*/
}